.mainwrapper {
  width: 100rem;
  display: flex;
  justify-content: center;
}

.mainpagealignment {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: center;
}

@media only screen and (min-width: 768px) {
  .mainpagealignment {
    margin-left: 15rem;
  }
}

@media only screen and (min-width: 2000px) {
  .mainpagealignment {
    display: flex;
    align-items: center;
    width: 125rem;
  }
  .aboutwrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .herowrapper {
    width: 62rem;
  }
}
