@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");
.herowrapper {
  color: white;
  margin: 3.5rem 0 3.5rem 0;
  font-family: "Rampart One", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero {
  font-size: 3rem;
  margin: 1rem;
  &__contact {
    border: 1px #08fdd8 solid;
    color: #08fdd8;
    width: 12rem;
    height: 3rem;
    font-size: 1.5rem;
    font-family: "Oswald", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 2rem 2rem 1rem;
  }
}
.contact-link {
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .herowrapper {
    display: flex;
    align-items: flex-start;
  }
  .hero {
    font-size: 6rem;
  }
}

// @media only screen and (min-width: 2000px) {
//   .herowrapper {
//     // border: solid white 1px;
//     margin-left: auto;
//     margin-right: auto;
//     width: 75rem;
//   }
// }
