@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat");

.skills {
  color: white;
  margin-left: 2rem;
  width: 100vw;
  // border: white 1px solid;
  margin-top: 5rem;
  &__grp {
    margin: 0 2rem 2rem 2rem;
  }

  &__skill {
    color: white;
    font-family: "Lato", sans-serif;
    // here is the effect
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 2.5rem;
    line-height: 0.75;
    margin: 10px 0;
  }
  &__title {
    color: #08fdd8;
    font-family: "Anton", sans-serif;
    font-size: 3rem;
    margin-left: 2rem;
  }
  &__wrapper {
    display: flex;
  }
}
