@import url("https://fonts.googleapis.com/css2?family=Anton&family=Rampart+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
.about {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  margin: 1rem;
  &__title {
    color: #08fdd8;
    font-family: "Anton", sans-serif;
    font-size: 3rem;
  }
  &__summary {
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 1.2rem;
  }
}
