.header {
  display: flex;
  background-color: #181818;
  justify-content: space-around;
  width: 100%;
  &__img {
    height: 10rem;
  }
  &__navbar {
    display: flex;
    list-style: none;
  }
  &__soc-media {
    display: flex;
    list-style: none;
    margin: 2.5rem;
  }
  &__item {
    margin: 2.5rem;
  }
}

.headersoc-media__img {
  margin-left: 1rem;
}
