@import url("https://fonts.googleapis.com/css2?family=Anton&family=Rampart+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.contact {
  display: flex;

  width: 100%;

  &__title {
    margin-top: 5rem;
    color: #08fdd8;
    font-family: "Anton", sans-serif;
    font-size: 3rem;
  }
  &__summary {
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 1.2rem;
    width: 60%;
  }
  &__name {
    width: 100%;
    background-color: #2b2b2b;
  }

  &__email {
    width: 100%;
    background-color: #2b2b2b;
  }
  &__form {
    width: 60%;
  }
  &__subject {
    background-color: #2b2b2b;
  }
  &__desc {
    margin-top: 1rem;
  }
  &__fulldesc {
    height: 12rem;
    background-color: #2b2b2b;
  }
  &__btn {
    border: 1px #08fdd8 solid;
    color: #08fdd8;
    width: 12rem;
    height: 3rem;
    font-size: 1.5rem;
    font-family: "Oswald", sans-serif;
    margin-top: 2rem;
    background-color: #1d1d1d;
  }
  &__map {
    width: 50rem;
    margin: 4rem;
    display: none;
  }
}
