@import url("https://fonts.googleapis.com/css2?family=Anton&family=Rampart+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.contact {
  display: flex;

  width: 100%;

  &__title {
    margin: 5rem 1rem 1rem 1rem;
    color: #08fdd8;
    font-family: "Anton", sans-serif;
    font-size: 3rem;
  }
  &__summary {
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 1.2rem;
    margin: 1rem 1rem 1rem 1rem;
    max-width: 500px;
  }
  &__name {
    background-color: #2b2b2b;
  }

  &__email {
    background-color: #2b2b2b;
  }
  &__form {
    margin: 1rem;
    max-width: 500px;
  }
  &__subject {
    background-color: #2b2b2b;
  }
  &__desc {
    margin-top: 1rem;
  }
  &__fulldesc {
    height: 12rem;
    background-color: #2b2b2b;
  }
  &__btn {
    border: 1px #08fdd8 solid;
    color: #08fdd8;
    width: 12rem;
    height: 3rem;
    font-size: 1.5rem;
    font-family: "Oswald", sans-serif;
    margin: 2rem 1rem 1rem 0;
    background-color: #1d1d1d;
  }
  &__map {
    width: 50rem;
    margin: 4rem;
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .contact {
    &__map {
      width: 60%;
      margin: 1rem;
      display: unset;
      border-radius: 4px;
    }
  }
}
